<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:./external_resources/BaseballDatabase.db</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.sqlite.JDBC</property> <!-- DB Driver -->

        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">create</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping class="models.Team"/>
        <mapping class="models.Player"/>
    </session-factory>
</hibernate-configuration>